<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the AMP Device available renderings feature.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!-- AMP DEVICE ID
           The ID of AMP device.
      -->
			<setting name="Feature.AMP.AvailableRenderings.AMPDeviceId" value="{01E59A6A-E5A9-49D9-AB10-F0283DAF83AF}" />
		</settings>
		<experienceAccelerator>
			<!-- List of devices with limited capabilities -->
			<limitedDevices>
				<!-- Layout/Devices/AMP-->
				<device name="AMP">{01E59A6A-E5A9-49D9-AB10-F0283DAF83AF}</device> 
			</limitedDevices>
		</experienceAccelerator>
		<pipelines>
			<resolveAvailableRenderingsNodeTemplate>
				<processor patch:before="*[1]" type="Feature.AMP.AvailableRenderings.Pipelines.ResolveAMPAvailableRenderings, Feature.AMP.AvailableRenderings" resolve="true" />
			</resolveAvailableRenderingsNodeTemplate>
		</pipelines>
		<mvc>
			<precompilation>
				<assemblies>
					<assemblyIdentity name="Feature.AMP.AvailableRenderings" />
				</assemblies>
			</precompilation>
		</mvc>
	</sitecore>
</configuration>